body{
	background-image: url("arbre.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: 60%;
}

}

.Menudiv {
    width: fit-content;
    background-size: 50%;
}

button{
		background-position:center;
		background-color:#ffffff00;
		background-image:url("pomme.png");
		background-size:65%;
		background-repeat:no-repeat;
		cursor:pointer;
	    border: none;
	    color: white;
	    padding: 60px 40px;
	    text-align: justify;
}


.Retour{
		background-position:center;
		background-color:#ffffff00;
		background-image:url("poire.png");
		background-size:65%;
		background-repeat:no-repeat;
		cursor:pointer;
	    border: none;
	    color: white;
	    padding: 60px 40px;
	    text-align: justify;
}
/*
* {
	background-color: rgb(0,0,0,0.1);
}
*/
.container{
	@include xy-grid-container;
}

.mygrid{
	@include xy-grid;
}

.main-content{
	@include xy-cell();
}

#page{
	width:100%;
}