body{
	background-image: url("arbre.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 70%;
}
.button{
		background-position:center;
		background-color:#ffffff00;
		background-image:url("pomme.png");
		background-size:60%;
		background-repeat:no-repeat;
		cursor:pointer;
	    border: none;
	    color: white;
	    padding: 50px 40px;
	    text-align: justify;
}
}

.Menudiv {
    width: fit-content;
    background-size: 50%;
}

button{
		background-position:center;
		background-color:#ffffff00;
		background-image:url("pomme.png");
		background-size:60%;
		background-repeat:no-repeat;
		cursor:pointer;
	    border: none;
	    color: white;
	    padding: 50px 40px;
	    text-align: justify;
}